@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v29-latin-500.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'); 
  }
  *{
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif ;
  }
  .containers{
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
 
  .hero{
    background-image: url(../images/hero-bg.png);
    padding-bottom: 346px;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center top;
    border-radius: 20px;
  }
  /* dream car */
  @media (max-width:1176px){
    .Tablet{
      max-width: 900px ;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media (max-width:928px){
    .Tablet{
      max-width: 500px;
      margin: 0 auto;
      align-items: center;

      &>li{
        width: 600px;
        padding-left: 60px;
      }
    }
  }
  @media (max-width:640px){
    .title-dream{
      max-width: 321px;
      &>h2{
        font-size: 24px;
        width: 100%;
      }
    }
    &>p{
      font-size: 12px;
      line-height: 100%;
      
    }
    .Tablet{
       max-width: 384px;
      padding: 0px;
      margin: 0 auto;
      align-items: center;
      text-align: center;

      &>li{
        padding: 20px 0 0 20px;
        width: 370px;
      }
    }
    .button-wrapper{
      &>button{
        padding: 8px 10px;
      }
    }
    .items-button{
    text-align: center;
    }
  }
  .img2{
    display: none;
  }


  .line{
    background: linear-gradient(90deg, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
  }
  .line-tablet {
    width: 2px; /* chiziq endi ingichka bo‘ladi */
    height: 108px; /* balandligi uzun bo‘ladi */
    background: linear-gradient( to bottom, #EA4335 19.83%, #FBBC05 65%, #34A853 82.29%, #4285F4 100%);
  }
  /* Similarities part */
.similarities-content-wrapper {
  height: 479px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}


/* more than */
@media (max-width:1100px){
  .More-than{
    padding: 120px 20px;
  }
}
@media (max-width:860px){
  .More-than{
    padding: 100px 18px;
  }
}
@media (max-width:640px){
  .more{
    padding: 0px;
  }
  .More-than{
    padding: 100px 0px;
  }
  .strong.more{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}
/* Unparalleled service */
/* Tablet */
@media (max-width:1190px){

.Unparalleled-item{
 width: 387px;
}
.Unparalleled-item-div{
  padding: 30px 25px ;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
}
@media (max-width:850px){
  .Unparalleled-item{
   width: 350px;
  }
  .Unparalleled-item-div{
    width: 350px;
    padding: 25px 20px ;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &>h3{
    width: 100%;
    }
  }
  }
  @media (max-width:752px){
    .Unparalleled-list{
      flex-direction: column;
    }
    .Unparalleled-item-div{
      width: 350px;
      padding: 25px 20px ;
      border-radius: 20px;
    }
    .unparalled-title-wrapper{
      max-width: 350px;
      &>h3{
        width: 100%;
      }
    }
    }