@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v29-latin-500.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'); 
  }
  *{
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif ;
  }
  .containers{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center top;
    border-radius: 20px;
    height: 500px;
  }
  @media (max-width:1176px){
    .Tablet{
      max-width: 900px ;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media (max-width:928px){
    .Tablet{
      max-width: 500px;
      margin: 0 auto;
      align-items: center;

      &>li{
        width: 600px;
        padding-left: 60px;
      }
    }
  }
  @media (max-width:640px){
    .title-dream{
      max-width: 321px;
      &>h2{
        font-size: 24px;
        width: 100%;
      }
    }
    &>p{
      font-size: 12px;
      line-height: 100%;
      
    }
    .Tablet{
       max-width: 384px;
      padding: 0px;
      margin: 0 auto;
      align-items: center;
      text-align: center;

      &>li{
        padding: 20px 0 0 20px;
        width: 370px;
      }
    }
    .button-wrapper{
      &>button{
        padding: 8px 10px;
      }
    }
    .items-button{
    text-align: center;
    }
  }
  .img2{
    display: none;
  }
  /* Similarities */
  @media (max-width:1140px){
   .Similarities{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .line-img{
    transform: rotate(90deg);
    width: 108px;
    height: 2px;
    align-items: center;
   }
  
   .Similarities-content{
    display: flex;
    justify-content: space-around;
     align-items: center;
   
    }
   .title{
    width: 350px;
   }
   .text{
   width: 300px;
   }
   .img1{
    padding-top: 0px;
    padding: 0 0 30px 60px;
   }
   .img2{
    display: none;
   }
  }
  /* Mobile */
  @media (max-width:1075px){
    .containers{
      flex-direction: column;
      align-items: center;
      max-width:358px ;
      overflow: hidden;
    }
    .img-wrapper{
      
      .img1{
        display: none;
      }
      .img2{
        display: block;
        width: 358px;
        height: 444px;
        margin-left: 60px;
      }
     }
    .Similarities{
      display: flex;
      flex-direction: column;
      justify-content: center;
     }
     .line-img{
      transform:none;
      width: 318px;
      height: 2px;
      align-items: center;
     }
     .Similarities-content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
       width: 100%;
  }
  .img{
    display: none;
   }
}
@media (max-width:640px){
  .containers{
    flex-direction: column;
    align-items: center;
    max-width:358px ;
    overflow: hidden;
  }
  .img-wrapper{
    
    .img1{
      display: none;
    }
    .img2{
      display: block;
      width: 358px;
      height: 444px;
      margin-left: 60px;
    }
   }
  .Similarities{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .line-img{
    transform:none;
    width: 318px;
    height: 2px;
    align-items: center;
   }
   .Similarities-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     width: 100%;
}
.img{
  display: none;
 }
}